body,ul,li{margin:0; padding:0;box-sizing: border-box;}
.clearfix:before,.clearfix:after{display: block; content: " ";}
.clearfix:after{clear:both;}
ul{
	list-style: none;
	padding:4px 7px 5px;
	width: 254px;
	margin:100px auto;
}
li{
	float:left;
	width: 35px;
	height: 31px;
	border:1px solid #c9c4c8;
	border-radius: 4px;
	text-align: center;
	margin-left: 6px;

}
li:nth-of-type(1){
	margin-left: 0px;
}
ul li a{
	color:#000;
	line-height: 31px;
	font-size: 18px;
}
ul li:target{
	border:none;
}
ul li:target a{
	text-decoration: none;
	color:#727073;
}
