*{margin:0; padding: 0; box-sizing: border-box;}
.clearfix:before,.clearfix:after{display: block; content: " "}
.clearfix:after{clear:both;}
body{
	background: url(img/templatemo_top_bg.jpg) repeat-x;
	background-color: #272526;
}
.header{
	width: 980px;
	margin: 0 auto;
}
.header img{
	display: block;
}
.nav{
	background: url(img/templatemo_menu_bg.jpg) no-repeat;	
}
.nav ul{
	list-style: none;
	/*width: 420px;*/
	padding:10px 265px;
	margin:0 auto;
}
.nav a{
	text-decoration: none;
	font-size: 12px;
	color:#99999b;
	height:60px;
	display: block;
}
.nav li{
	line-height: 40px;
	height:40px;
	float:left;
	width: 90px;
	text-align: center;
}
.nav a:hover{
	color:#feffdd;
}
.main{
	background: url(img/templatemo_wrapper_bg.png) repeat-y;
	padding:15px;
	width: 990px;
	margin:0 auto;
	/*background-color: #272526;*/
	/*border:0.1px solid #1b191a;*/
	/*border-left: 1px solid #1b191a;*/
	/*border-right:1px solid #1b191a;*/
}
.aside{
	background-color: #1b191a;
	border:1px solid #363435;
	width: 220px;
	padding: 20px 19px;
	padding-bottom: 60px;
	position: relative;
	float: left;
}
.aside h1{
	font-size: 14px;
	color:#fffeff;
	line-height: 18px;
	margin-bottom: 15px;	
}
.menu{
	padding-bottom: 20px;
	background: url(img/templatemo_horizontal_divider.jpg);
	background-repeat: repeat-x;
	/*background-position: 20px 336px;*/
	background-position: 0 bottom;
	background-size: 180px 2px;
	margin-bottom: 20px;
}
.menu ul{
	list-style: none;
}
.menu li:before{
	display: block; 
	content: " ";
	width: 5px;
	height:28px;
	background-color: #000000;
	position: absolute;
	left:0;
	top:0;
}
.menu ul li{
	background-color:#242225;
	width: 180px;
	margin-bottom: 5px;
	height: 28px;
	position: relative;
}
.menu a{
	color:#b3b2ae;
	font-size: 12px;
	padding-left:15px;
	text-decoration: none;
	line-height: 28px;
}
.aside h1.h2{
	margin-bottom: 10px;
}
.aside .text{
	width: 177px;
	height: 27px;
	/*margin-bottom: 13px;*/
	border: none;
}
.btn{
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 10px;
	background: url(img/templatemo_button_01.png) no-repeat;
	/*background-size: 117px 27px;*/
	border: none;
}
.aside .search{
	position: absolute;
	right: 23px;
	bottom:21px;
}
.content{
	float:left;
	width: 500px;
	border:1px solid #363435;
	margin:0 10px;
	padding:0 19px 43px 19px;
	position: relative;
	background-color: #1b191a;
}
.content ul{
	list-style: none;
}
.content ul li h1{
	line-height: 56px;
	font-size: 18px;
	color:#fffeff;
}
.content ul li div.img{
	float:left;
	width: 150px;
	height: 90px;
	padding:4px;
	background-color: #121212;
	margin-right: 20px;
}
.content ul li div img{
	display: block;
	border:1px solid #353334;
}
.content ul li p{
	font-size: 12px;
	color:#999;
	line-height: 18px;
	text-align: justify;
}
.content ul li p span{
	color:#fffffd;
}
.content ul li{
	height: 192px;
}
.divide_bg{
	width: 460px;
	height: 2px;
	background: url(img/templatemo_horizontal_divider.jpg) repeat-x;
	margin-top: 20px;
}
.btn_top{
	position: absolute;
	top:168px;
	left: 22px;
}
.btn_bottom{
	position: absolute;
	left: 22px;
	top:385px;
}
.left{
	float:left;
	width: 220px;
	border:1px solid #363435;
	padding:0 19px;
	background-color: #1b191a;
}
.left h1{
	font-size:14px;
	color:#ffffff;
	line-height: 52px;
}
.left .p1{
	font-size:12px;
	color:#ffffff;
	line-height: 22px;
}
.left .p2{
	font-size:12px;
	color:#999999;
	line-height: 18px;
	word-wrap:break-word;
}
.bor{
	width:177px;
	/*height: 1px;*/
	border-top:1px dashed black;
	margin-top:13px;
	margin-bottom: 12px;
}
.devide{
	background: url(img/templatemo_horizontal_divider.jpg) repeat-x;
	width:180px;
	height: 2px;
	margin-top: 25px;
}
.left_img{
	width: 180px;
	height: 90px;
	padding: 4px;
	background-color: #000;
	position: relative;
	margin-bottom:12px;
}
.image1{
	display: block;
	border:1px solid #353334;
}
/*.image2{
	position: absolute;
	right: 10px;bottom: 10px;
}*/
.play{
	width: 20px;
	height: 20px;
	background:url(img/play.png) no-repeat;
	position: absolute;
	right: 10px;
	bottom: 10px;
}
.play:hover{
	background-position: -20px 0;
}
.left_bottom p{
	font-size: 12px;
	line-height: 18px;
	color:#989898;
	margin-bottom: 20px;
}
.footer{
	width: 980px;
	margin:0 auto;
	background:url(img/templatemo_footer.jpg) no-repeat -4px 0;
}
.footer p{
	line-height: 50px;
	text-align: center;
	color:#99999b;
	font-size: 12px;
}
.footer p span{
	color:#fefffb;
}