body{
    padding: 30px 0px;
}
header{
    margin: 40px auto;
    margin-left: 30px;
}
header .line{
    width: 45%;
    height: 1px;
    background-color: lightgrey;
    float: left;
}
header .tit{
    display: block;
    float: left;
    margin: 0px 15px;
    margin-top: -10px;
    font-size: 20px;
    color: #616161;
    font-weight: bold;
}
main{
    width: 85%;
    margin: 0 auto;
}
main .detail{
}
main .list{
    text-align: center;
    font-size: 15px;
    background-color: #616161;
    color: #f4f4f4;
    line-height: 40px;
    border-radius: 5px;
    margin: 15px 0;
}
main .product img{
    margin: 0 30px;
    padding: 1px;
    border: 1px solid gray;
}
main .money{
    text-align: center;
    line-height: 80px;
}
main .num{
    padding-left: 87px;
    margin-top: 30px;
}
main .num button{
    width: 30px;
    height: 25px;
}
main .num input{
    width: 60px;
    text-align: center;
}
main .all span{
    display: block;
    line-height: 80px;
    margin: 0 auto;
    padding-left: 65px;
}
main .del img{
    display: block;
    margin: 23px auto;
}
main .pick{
    margin-right: 15px;
}
main .pay{
    float: right;
    background-color: #d2434a;
    color: #ffe5e2;
    width: 150px;
    height: 50px;
    border: none;
    transition: all 0.3s ease-out;
    font-size: 18px;
    letter-spacing: 4px;
}
main .pay:hover{
    background-color: #ffe5e2;
    color: #d2434a;
    border: 1px solid #d2434a;

}