body,ul,div,li{
	margin:0; 
	padding:0;
	box-sizing:border-box;
}
#wrap{
	width:600px;
	border:1px solid #e6e6e6;
	margin:40px auto;
	overflow: hidden;
	padding: 20px;
	border-radius: 15px;
	background-color: snow;
}
#wrap ul{
	list-style: none;
	/*overflow: hidden;*/
	width: 250px;
	height: 120px;
	float: left;
	position: relative;
}
#wrap ul li{
	width: 100px;
	height: 70px;
	/*float: left;*/
	color: dimgray;
	text-align: center;
	line-height: 70px;
	border-radius: 5px;
	/*cursor: pointer;*/
	position: absolute;
}
li:nth-child(1){
	background-color: lightpink;
	margin-bottom: 20px;
	left:0;
	top:0;
}
li:nth-child(2){
	background-color: yellowgreen;
	margin-bottom: 20px;
	margin-left: 20px;
	left:100px;
	height: 0;
}
li:nth-child(3){
	background-color: lightskyblue;
	left: 0;
	top:90px;
}
li:nth-child(4){
	background-color: sandybrown;
	margin-left: 20px;
	left: 100px;
	top: 90px;
}
#wrap #gab{
	width: 300px;
	height: 160px;
	float: right;
	background-color: lightgoldenrodyellow;
	text-align: center;
	border-radius: 15px;
	border:1px solid lightgreen;
}
#wrap #gab span{
	line-height: 160px;
	font-size: 14px;
}
#wrap #gab img{
	vertical-align: middle;
}
